body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  line-height: 1.7;

}

code {
  font-family: Montserrat,
    Arial,
    sans-serif
}

p {
  text-align: center;
  color: #2d3e50 ;
  margin: 0;
  font-weight: 500;
  line-height: 1.7;
  word-wrap: break-word;
}

h1{
    color: #2d3e50;
      margin: 0;
}